body{
    background-color: black;
    color: white;
}

.important{
    background-color: #272621;
}


.section4{
    background-color: #272621;
}
input{
    background-color: transparent !important;


}
#sunicon{
    display: incline;
    color: yellow;
}   
#moonicon{
    display: none;
}
.pri{
    color: white;
}
.piz{
    color: white; 
}
.contact-info h2{
    color: #999;
}